language: python
python:
  - '3.6'
  - '2.7'
  - '3.5'

branches:
  only:
  - master

env:
  global:
    - CANONICAL_PYTHON="3.6"
    - CANONICAL_MDTRAJ="release"
  matrix:
    - MDTRAJ="release"
    - MDTRAJ="dev"

matrix:
  exclude:
    - env: MDTRAJ="dev"
      python: "3.5"

before_install:
  - echo "before install"
  - git fetch --tags

install:
  - source ci/pip-install/install_requirements.sh
  - pip install -e .
  - pip install -r ci/pip-install/testing_requirements.txt
  - if [ "$MDTRAJ" = "dev" ]; then pip install --upgrade --force-reinstall -r ci/pip-install/mdtraj_dev.txt; fi
  - pip list

script:
  - export MPLBACKEND=PS
  - python -c "import dask_traj"
  - py.test -vv --cov=contact_map --cov-report xml:cov.xml

after_success:
  - coveralls
  - python-codacy-coverage -r cov.xml
